@use "@angular/material" as mat;
@include mat.core();

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

body {
  box-sizing: border-box;
  margin: 0;
}

$mat-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
    ),
    typography: (
      brand-family: "Nunito Sans",
      bold-weight: 900,
    ),
    density: (
      scale: -1,
    ),
  )
);

$mat-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
    ),
  )
);
.light-theme {
  // @include mat.core-theme($mat-light-theme);

  .navbar {
    color: #111517;
    background-color: #fafafa;
  }

  .toggle-switch-color {
    background-color: gray;
  }

  .toggle-switch-color::before {
    background-color: white;
  }

  .header {
    background-color: #fafafa;
    color: #111517;
  }
}

.dark-theme {
  .navbar,
  .navbar :not(.toggle-switch-color) {
    color: #ffffff !important;
    background-color: #2b3945 !important;
  }

  .toggle-switch-color {
    background-color: #fafafa;
  }

  .toggle-switch-color::before {
    background-color: #2b3945;
    transform: translateX(40px);
  }

  .header {
    color: #ffffff;
    background-color: #2b3945;
  }
}

.no-underline {
  text-decoration: none;
}

.toggle-switch {
  width: 80px;
  height: 40px;
  border-radius: 80px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.toggle-switch::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 2.5px;
  transition: 0.2s;
}

.toggle-checkbox {
  display: none;
}

.page-container {
  min-height: calc(100vh - 56px);
}
