@use "@angular/material" as mat;
@include mat.core();

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

* {
  font-family: "Nunito Sans";
}
body {
  box-sizing: border-box;
  margin: 0;
}

$mat-light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
    ),
    typography: (
      brand-family: "Nunito Sans",
      bold-weight: 900,
    ),
    density: (
      scale: -1,
    ),
  )
);

$mat-dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
    ),
  )
);

.light-theme {
  // @include mat.core-theme($mat-light-theme);

  .navbar {
    color: #111517;
    background-color: #ffffff;
  }

  .toggle-switch-color {
    background-color: gray;
  }

  .toggle-switch-color::before {
    background-color: white;
  }

  .header {
    background-color: #fafafa;
    color: #111517;
  }

  .page-container {
    background-color: #e2e2e2;
  }

  .searchbar-input {
    background-color: #ffffff;
    color: #858585;
  }

  .card {
    background-color: #ffffff;
    color: #858585;
  }

  .dropdown-region-menu {
    background-color: #ffffff;
    color: #858585;
  }

  .button {
    background-color: #ffffff;
    color: #111517;
    border: 1px solid #858585;
  }

  .country-details-text,
  .country-details-text * {
    color: #111517;
  }

  .border-country-button {
    background-color: #ffffff;
    color: #111517;
    border: 1px solid #858585;
  }

  .not-found-container {
    background-color: #e2e2e2;
    color: #111517;
  }
}

.dark-theme {
  .navbar,
  .navbar :not(.toggle-switch-color) {
    color: #f7f7f7 !important;
    background-color: #2b3945 !important;
  }

  .toggle-switch-color {
    background-color: #f7f7f7;
  }

  .toggle-switch-color::before {
    background-color: #2b3945;
    transform: translateX(40px);
  }

  .header {
    color: #f7f7f7;
    background-color: #2b3945;
  }

  .page-container {
    background-color: #202c37;
  }

  .card {
    outline: 1px solid #202c37;
    border: 1px solid #202c37;
  }

  .searchbar-input {
    background-color: #f7f7f7;
    color: #111517;
  }

  .card {
    background-color: #f7f7f7;
    color: #111517;
  }

  .searchbar-input::placeholder {
    color: #111517;
  }

  .dropdown-region-menu {
    background-color: #f7f7f7;
    color: #111517;
  }

  .button {
    color: #f7f7f7 !important;
    background-color: #2b3945 !important;
    border: 1px solid black;
  }

  .country-details-text,
  .country-details-text * {
    color: #f7f7f7;
  }

  .border-country-button {
    color: #f7f7f7;
    background-color: #2b3945;
    border: 1px solid black;
  }

  .not-found-container {
    background-color: #202c37;
    color: #ffffff;
  }
}

.no-underline {
  text-decoration: none;
}

.toggle-switch {
  width: 80px;
  height: 40px;
  border-radius: 80px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.toggle-switch::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 2.5px;
  transition: 0.2s;
}

.toggle-checkbox {
  display: none;
}

.page-container {
  min-height: calc(100vh - 56px);
  padding: 2rem;
}

.searchbar-input,
.searchbar-input:focus {
  width: calc(100vw * 0.45);
  border: none;
  outline: none;
  height: 50px;
  padding: 0.25rem;
  font-size: 1.5rem;
  border-radius: 5px;
}

.dropdown-region-menu,
.dropdown-region-menu:focus {
  border: none;
  outline: none;
  height: 50px;
  font-size: 1.5rem;
  padding: 0.25rem;
  border-radius: 5px;
}

.card {
  height: 370px;
  width: 300px;
  margin: 1rem 0;
  padding: 0;
  border-radius: 5px;
  box-sizing: border-box;
}

.card-flag {
  max-height: 200px;
  width: 100%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.card-details {
  padding: 1rem;
}
.card-title {
  text-align: center;
  font-weight: bold;
}

.button {
  width: 120px;
  height: 40px;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.button-icon {
  margin-right: 0.5rem;
}

.country-details-container {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 75vh;
}

.country-details-flag-container {
  width: 40vw;
  display: flex;
  align-items: center;
}

.country-details-img {
  width: 40vw;
}

.country-details-info-container {
  width: 45%;
}

.country-text-container {
  padding-top: 3rem;
}

.border-countries-container {
  padding-top: 3rem;
}

.border-country-button {
  width: 120px;
  height: 40px;
  margin: 0.25rem 0.25rem;
  box-sizing: border-box;
  border-radius: 5px;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 75vh;
}
